In [1]:
from Tidy_Data_new import *
# from AdvancedModel_helpers import *

In [2]:
df = json_reader('../nhl_data/2020020001.json')

53
9
55
62
64
65
66
67
68
70
257
74
75
78
80
81
83
34
84
86
89
91
42
93
96
99
100
252
255
262
266
268
269
991
270
271
224
275
277
279
280
281
231
282
285
287
290
293
294
295
297
501
505
508
510
511
513
514
516
517
520
523
526
525
486
527
529
530
493
531
534
535
537
541
539
540

In [3]:
df[df['event_idx']==70]

,game_id,event_idx,play_type,shot_type,shot_dist,game_time,period,period_time_rem,coordinate,shooter_id,goalie_id,empty_Net,rink_side,angle_net,is_goal
9,2020020001,70,Goal,Snap Shot,9.433981,2021-01-13T22:30:00Z,1,14:48,"{'x': 81, 'y': -5}",8476873,8479394,0,left,-32.005383,1